@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Noto+Serif:wght@600&display=swap');

:root {
    --main-text-color: rgb(0, 59, 74);
    --grey-text-color: rgb(158, 157, 171);
    --light-text-color: rgb(255, 255, 255);
    --contrast-color: rgb(191, 12, 240);
    --light-contrast-color: rgb(229, 225, 254);
    --background-color: rgb(247, 247, 247);

    --regular-weight-lato: 400;  
    --bold-weight-lato: 700;  
    --extra-bold-weight-lato: 900;
    
    --semibold-weight-noto: 600;

    --font-family-noto: 'Noto Serif', serif;
    --font-family-lato: 'Lato', sans-serif;
}

html {
    font-family: var(--font-family-lato);
}

body {
    display: block;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;

    background-color: var(--background-color);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

header {
    font-weight: var(--bold-weight-lato);

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

h1, h2, p, figcaption, label {
    color: var(--main-text-color);
}

button,
input[type="submit"] {
    padding: 0.5rem;
    text-transform: uppercase;
    color: var(--light-text-color);
    background-color: var(--main-text-color);

    border: none;
    border-radius: 3px;

    -webkit-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
}

button:hover,
input[type="submit"]:hover {
    cursor: pointer;
    background-color: var(--contrast-color);
}

/*Header*/
.header__icon {
    margin: 20px;
}

.header__icon img {
    width: 100px;
    height: auto;
}

.nav__links-container {
    display: flex;
    width: auto;
    height: auto;
}

.nav__links-container li:first-child {
    border-right: 1px solid var(--main-text-color);
}

.nav__links {
    margin: 20px;

    text-transform: uppercase;
    color: var(--main-text-color);
}

.nav__links:hover {
    color: var(--contrast-color);

    -webkit-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
}

/*Footer*/
footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    background-color: var(--main-text-color);
}

.footer__info {
    display: block;
    margin: 1rem 0 2rem 2rem;
}

.footer__links {
    display: block;
    margin: 2.5rem 2rem 0 2rem;
}

.footer__info img {
    margin: 0;
    width: 90px;
}

.footer__info p {
    color: var(--light-text-color);
    margin-top: 1rem;
    font-size: 0.8rem;
}

.footer__media-container {
    display: flex;
    justify-content: end;
    align-items: center;
}

.footer__media-links {
    opacity: 1;
}

.footer__media-links:hover {
    opacity: 0.5;

    -webkit-transition: 0.25s ease;
    -moz-transition: 0.25s ease;
    -o-transition: 0.25s ease;
    transition: 0.25s ease;
}

.footer__legal-container {
    display: flex;
    margin-top: 1.25rem;
    justify-content: end;
    align-items: center;
}

.footer__legal-container li:nth-child(1),
.footer__legal-container li:nth-child(2) {
    padding: 0 1rem;
    border-right: 1px solid var(--light-text-color);
}

.footer__legal-container li:nth-child(3) {
    padding-left: 1rem;
}

.footer__legal-links {
    display: block;
    font-size: 0.8rem;
    color: var(--light-text-color);

    -webkit-transition: 0.25s ease;
    -moz-transition: 0.25s ease;
    -o-transition: 0.25s ease;
    transition: 0.25s ease;
}

.footer__legal-links:hover {
    color: var(--light-contrast-color);
}


/* Common styles */
.inside__text-link {
    color: var(--contrast-color);
    text-decoration: underline;
    text-decoration-style: dotted;
    text-underline-offset: 0.25rem;

    -webkit-transition: 0.25s ease;
    -moz-transition: 0.25s ease;
    -o-transition: 0.25s ease;
    transition: 0.25s ease;
}

.inside__text-link:hover {
    color: var(--main-text-color);
}


/*Index page*/
.index__hero-container {
    display: flex;
    width: 100%;
    height: 500px;
    justify-content: center;
    align-items: center;
    background: url(/img/hero-image-home.jpg) no-repeat center center;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.index__hero-title_container {
    display: flex;
    margin: 0 1rem;
    width: 100%;
    height: auto;
    justify-content: start;
    align-items: center;
    max-width: 1000px;
}

.index__hero-title {
    margin: 0;
    max-width: 560px;
    font-size: 2.7rem;
    font-weight: var(--extra-bold-weight-lato);
}

.index__newsletter-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 40px;
    margin: 3rem 1rem;
    max-width: 1000px;
}

.index__newsletter-title {
    margin: 1rem 0;
    font-family: var(--font-family-noto);
    font-size: 2.5rem;
    grid-column: span 2;
}

.index__newsletter-info_container p {
    line-height: 1.5rem;
}

.index__newsletter-form_container {
    width: 100%;
    height: auto;
    max-width: 500px;
}

.index__newsletter-form_data p {
    display: flex;
    flex-direction: column;
}

.index__newsletter-form_data input{
    border: 1px solid var(--grey-text-color);
    border-radius: 3px;
    margin-top: 0.5rem;
    padding: 0.5rem 0.5rem;
}

.index__newsletter-form_info p {
    font-size: 0.7rem;
    line-height: 1.15rem;
}

.index__newsletter-form_checkbox {
    display: flex;
    width: auto;
    height: auto;
}

.index__newsletter-form_checkbox-label {
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
    font-size: 0.75rem;
}

.index__newsletter-form_checkbox-label input {
    margin: 0 0.25rem 0 0;
}

.index__newsletter-form_checkbox-label:hover,
.index__newsletter-form_checkbox-label input:hover {
    cursor: pointer;
}

.index__newsletter-form_button {
    margin: 1.5rem 0;
}

.index__recomendations-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;
    background-color: var(--light-contrast-color);
}

.index__recomendations {
    display: flex;
    width: auto;
    height: auto;
    max-width: 1000px;
    margin: 3rem 1rem 0 1rem;
}

.index__recomendations-right {
    display: flex;
    flex-direction: row-reverse;
}

.index__recomendations-figure {
    width: 300px;
    height: auto;
    margin: 0;
    padding: 0;
    rotate: -7deg;
}

.index__recomendations-right figure{
    rotate: 7deg;
}

.index__recomendations-img {
    width: 100%;
}

.index__recomendations-figure figcaption {
    font-size: 0.6rem;
    text-align: end;
}

.index__recomendations-text_container {
    margin-left: 1rem;
}

.index__recomendations-title {
    margin: 0;
    font-size: 1.32rem;
    font-family: var(--font-family-noto);
}

.index__recomendations-description {
    margin: 1rem 0 1.75rem 0;
    line-height: 1.5rem;
    font-size: 0.9rem;
}

@media screen and (max-width: 1000px) {
    /*Footer*/
    footer {
        display: block;
        padding-top: 1.5rem;
    }
    
    .footer__info,
    .footer__links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    
    .footer__legal-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0.2rem 0 3rem 0;
    }
    
    .footer__legal-container li {
        margin: 0.2rem 0;
    }

    .footer__legal-container li:nth-child(1),
    .footer__legal-container li:nth-child(2) {
        padding: 0;
        border: none;
    }

    .footer__legal-container li:nth-child(3) {
        padding: 0;
    } 

    .index__hero-title {
        max-width: 100%;
    }

    .index__newsletter-container {
        display: block;
        width: auto;
        height: auto;
        margin: 3rem 1rem;
        max-width: 1000px;
    }
}

@media screen and (max-width: 600px) {
    .index__recomendations {
        display: block;
        margin: 3rem 1rem 0 1rem;
    }

    .index__recomendations-figure {
        width: auto;
        height: auto;
        margin: 0;
        padding: 0;
        rotate: 0deg;
    }

    .index__recomendations-right figure {
        rotate: 0deg;
    }

    .index__recomendations-text_container {
        margin-left: 0;
    }
}








/*Blog page*/

/*Entrada page*/

/*Videos page*/
